{% extends "/layouts/default.twig" %}



{% block content %}

    <div class="py-3 text-center">
        <img class="d-block mx-auto mb-4" src="/resources/logo.svg" width="100" alt="Я не один!">
        <h1 class="h2">Я не один!</h1>
        <div class="mt-3" data-for="lead-text">
            <p>
                Иногда бывает трудно говорить о своих чувствах вслух, задать неловкий вопрос или признаться в том, что что-то беспокоит. Это нормально.
                Мы готовы выслушать тебя без осуждения и оценок. Напиши о том, что у тебя на душе. Ты можешь не указывать своё имя &ndash; для нас главное, чтобы тебе стало легче.
                Мы прочитаем твоё сообщение и ответим как можно скорее!
            </p>
            <p class="lead"><b>Помни: ты не один!</b></p>
        </div>
    </div>

    <div class="row mt-3" data-for="main-buttons">
        <div class="col text-center">
            <button class="btn btn-lg btn-outline-danger mx-3 my-3" data-for="write-message">Написать сообщение</button>
            <button class="btn btn-lg btn-outline-success mx-3 my-3" data-for="read-message">Прочитать ответ</button>
        </div>
    </div>

    <div class="row mt-3" data-view="write" style="display: none;">
        <form>
            <div class="mb-3">
                <label for="write-message-token" class="form-label">Ключ</label>
                <div class="input-group">
                    <input id="write-message-token" type="text" class="form-control form-control-lg" aria-describedby="change-token" disabled>
                    <button id="change-token" type="button" class="btn btn-outline-secondary">Хочу другой</button>
                </div>
                <div class="form-text text-success">Пожалуйста запомни ключ, без него ты не сможешь прочитать ответ</div>
            </div>
            <div class="mb-3">
                <label for="write-message-title" class="form-label">Заголовок</label>
                <input id="write-message-title" type="text" class="form-control" maxlength="255" required>
            </div>
            <div class="mb-3">
                <label for="write-message-text" class="form-label">Сообщение</label>
                <textarea id="write-message-text" class="form-control" rows="4" maxlength="8192" required></textarea>
                <div class="form-text text-danger" data-for="error" style="display: none;"></div>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <div class="text-center" data-for="success" style="display: none;">
            <p class="text-success">Сообщение успешно отправлено!</p>
            <h1 class="text-danger" data-for="token"></h1>
            <p>Пожалуйста запомни этот ключ, без него ты не сможешь прочитать ответ</p>
        </div>
    </div>

    <div class="row mt-3" data-view="read" style="display: none;">
        <form data-for="token">
            <div class="mb-3">
                <label for="read-message-token" class="form-label">Ключ</label>
                <div class="input-group mb-3">
                    <input id="read-message-token" type="text" class="form-control form-control-lg" aria-describedby="change-token" placeholder="Веди ключ сообщения" required>
                    <button id="read-message" type="submit" class="btn btn-outline-secondary">Прочитать ответ</button>
                </div>
                <div class="form-text text-danger" data-for="error" style="display: none;">Введён неверный ключ сообщения</div>
            </div>
        </form>
        <div class="mb-3">
            <h2 class="mb-3" data-for="conversation-title"></h2>
            <div data-for="conversation-messages"></div>
        </div>
        <form data-for="message" style="display: none;">
            <div class="mb-3">
                <label for="message" class="form-label">Добавить сообщение</label>
                <textarea id="message" class="form-control" rows="4" maxlength="8192" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

    {% verbatim %}
        <script id="message-template" type="text/x-handlebars-template">
            <div class="card mb-3{{#unless actor}} text-end{{/unless}}">
                <div class="card-header">
                    {{ created }}
                    {{#if actor}}
                        <span class="badge text-bg-danger">{{ actor }}</span>
                    {{/if}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ value }}</p>
                </div>
            </div>
        </script>
    {% endverbatim %}

{% endblock %}



{% block javascript %}

    {{ parent() }}
    <script src="/vendor/handlebars-4.7.8/handlebars.min.js"></script>
    <script>new ynoApplication().main();</script>

{% endblock %}
