<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Я не один!</title>
        {% block stylesheet %}
            <link href="/vendor/bootstrap-5.3.8/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}
  </head>

    {% block body %}{% endblock %}

    {% block javascript %}
        <script src="/vendor/jquery-3.7.1/jquery.min.js"></script>
        <script src="/vendor/bootstrap-5.3.8/js/bootstrap.min.js"></script>
    {% endblock %}

</html>
